$background: #2e2d2d;
$background-category: #f0f0f0;
$color-text: #ffffff;

.Body {
  background: $background;
  display: flex;
  height: 100vh;
}

.Category {
  background: $background-category;
  width: 70%;
  margin: 1rem 1rem 1rem 28rem;
  border-radius: 6px;

  .input-and-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input-outlined {
      width: 90%;
      margin: 0.6rem;
    }

    .filter-list-icon {
      margin: 0.6rem;
    }
  }
}
